header {
    background: linear-gradient(to left top, #ff00aa, #ff8000);
    padding: 2%;
    color: #ffffff;
}
nav {
    background-color: #5f83c6;
    color: #ffffff;
}
nav li{
    display: inline;
    padding: 2%;
}
footer {
    background-color: #8b70de;
}
.comment{
    border: solid;
    border-width: 0px 0px 0px 3px;
    padding: 0.5% 2%;
    background-color: #b1c7f0;
    color:#1e5dd0;
    border-color: #1e5dd0;
}