header {
    background: linear-gradient(to left top, #ff00aa, #ff8000);
    padding: 2%;
    color: #ffffff;
}
nav {
    background-color: #5f83c6;
    color: #ffffff;
}
nav li{
    display: inline;
    padding: 2%;
}
section.conclusion img{
    display: block;
    width: 30%;
    margin: auto;
    
}
footer {
    background-color: #8b70de;
}